<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <script>
    function processData = (time) => {
        var x = document.getElementById(time).value;
        document.getElementById("demo").innerHTML = x;
}
    }
</script>
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>


<div class="form">
<form method="post" th:object="${event}">
    <div class="form-group" width="600px">
        <label th:for="name">Title of event: </label>
        <input th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="date">Date of event: </label>
        <input type="date" th:field="*{date}" />
        <span th:errors="*{date}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="time">Start time of event: </label>
        <input th:field="*{time}" />
        <!-- <span th:errors="*{time}" class="error"></span> -->
    </div>
    <div class="form-group">
        <label th:for="description">Description: </label>
        <input th:field="*{description}" />
        <span th:errors="*{description}" class="errors"></span>
    </div>
    <div class="form-group">
        <label th:for="address.streetAddress">Street Address: </label>
        <input  th:field="*{address.streetAddress}" />
        <span th:errors="*{address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="address.city">City: </label>
        <input  th:field="*{address.city}" />
        <span th:errors="*{address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="address.zipCode">Zip code: </label>
        <input  th:field="*{address.zipCode}" />
        <span th:errors="*{address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="address.country">Country </label>
        <input  th:field="*{address.country}" />
        <span th:errors="*{address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="latitude">Latitude: </label>
        <input  th:field="*{latitude}" />
        <span th:errors="*{latitude}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="longitude">Longitude: </label>
        <input th:field="*{longitude}" />
        <span th:errors="*{longitude}" class="errors"></span>
    </div>
    <div class="form-group">
        <label th:for="imageUrl">Link image to URL: </label>
        <input type="text" th:field="*{imageUrl}" name="imageUrl"/>
    </div>
        <input id="demo" type="submit" value="Add Event" />

</form>
</div>




</body>
</html>